//NAV START
#NavBar ul, li, a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}
#NavBar {
    z-index: 100;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-crunch_container {
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
}
#nav-logo {
    margin-right: 10px;
    min-height: 40px;
    max-height: 40px;
}
#nav-routes {
    min-width: 70%;
    max-width: 70%;
}
//NAV END

//CARDS START
.card-section {
    display: flex;
    justify-content: space-evenly;
}
.article-card_container {
    min-width: 200px;
    max-width: 200px;
    min-height: 300px;
    max-height: 800px;
    border: solid #ececec 1px;
    padding: 10px;
    position: relative;
}
.card-info {
    margin-left:10px;
}
.title-span {
    color: #00d301;
  }
.card-button_container {
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.card-line {
    height:2px;
    width: 20%;
    background-color: lime;
    margin-bottom: 20px;
}
.button-style {
    min-width: 100%;
    max-width: 100%;
    min-height: 40px;
    max-height: 40px;
}
.article-card_more {
    border: none;
    background: linear-gradient(286deg,#00d301,#36c275 50%,#00a562);    
    color: white;
    margin-bottom: 10px;

}
.article-card_more:hover {
    animation: more forwards 1s;
}
@keyframes more {
    10%{
        box-shadow: none;
    }
    30%{
        box-shadow: black 3px 4px 10px;

    }
    100%{
        box-shadow: black 3px 4px 10px;
    }
}
.article-card_sponsor {
    border: solid 2px black;
}
.article-card_sponsor:hover {
    animation: forwards sponsor 1s;
}
@keyframes sponsor {
    10% {
        color: black;
        background-color: black;
    }
    30% {
        color: white;
        background-color: black;    
    }
    100% {
        color: white;
        background-color: black;    
    }
}
//CARDS END

//FOOTER START
.footer-main {
    display: flex;
    justify-content: space-around;
}
.footer-container {
    display: flex;
    flex-direction: column;
}
.footer-socialmedia {
    display: flex;
    justify-content: space-evenly;
}
.footer-copyright {
    text-align: center;
}
//FOOTER END